<!--i read this website here, and i'm unsure as to why there is no yield
stackoverflow.com/questions/17457985/yield-and-provide-inside-template
it could be that yeild is in one of the helpers i'll investigate that tomorrow.
-->
<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">

