<%= provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!--notice that when it does
      form_for then it needs to include a
      < % = not a < % 
      but 
      for this each it uses
      < % -->
  <!--<% @users.each do |user| %>-->
     <!-- this links up to 
           app/views/users/_user.html.erb
           if you call @users it iterates through
           each user autmatically when you call render
           becuase @users is a user it works with the
           _user partial -->
    <%= render @users %>
  <!--<% end %>-->
</ul>

<%= will_paginate %>