@import "bootstrap-sprockets";
@import "bootstrap";


/*$light-grey: #777; #already defined in bootstrap 
"via the bootstrap-sass gem"
*/
$gray-medium-light: #eaeaea;

@mixin box_sizing { 
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;  
}


body {
  padding-top: 60px;
}

/* still can't find out where this section is 
 it doesn't seem to change the divs but i could try 
 everything i type it does nothing for the page this 
 must be for a future thing 
 i've checked the page source and nothing is in the heading 
 after doing a few tests it looks like this does nothing */
section {
  overflow: auto;
}

/* this does nothing either right now, at least nothing that i
can see */
textarea {
  resize: vertical;
  //font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.center {
  text-align: center;
  //font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  h1 {
    margin-bottom: 10px;
  }
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1; //the default value is normal
}

/*
  this is super interesting and explained a ton!
  https://css-tricks.com/rems-ems/
*/
h1 {
  font-size: 3em; // 1em == 16px so 3em = 48px
  letter-spacing: -2px;
  margin-bottom: 30px;
  // don't know why we added this because that falls under .center
  text-align: center;  
  
}

h2 {
  font-size: 1.2em; 
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

/* i think this stuff will come into play later */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* remember this isn't for an actual logo.. its for 
something called logo that is some main text in the navbar
with the id of logo... not the best naming in my opinion */
#logo {
  float: left;
  margin-right: 10px;
  //padding-left: 30px;
  font-size: 1.7em; // 1em == 16px
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}



footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }    
  }  
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
 
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;  
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow:auto;
    padding: 10px 0;
    bottom-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts { 
  list-style: none;
  padding: 0;
  li {
    /* the first value is top and bottom */
    /* the second value is right and left */
    padding: 10px 0;
